body{
    padding: 50px;
}
h1{
    text-align: start;
    font-size: 40px;
}

#create{
    text-decoration: none;
    color: green;
    background: white;
    border: 1px solid green;
    padding: 10px 15px;
    font-weight: 100;
    letter-spacing: 1px;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}

#create:hover{
    color: white;
    background: green;
    transition: 0.5s ease-in-out;
}
#table{
    width: 100%;
    
}

th{
    font-size: 25px;
    padding: 10px;
}

td{
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

#edit{
    background: transparent;
    border: 1px solid blue;
    color: blue;
    font-size: 20px;
    width: 100px;
    margin: 10px;
    padding: 5px 20px;
    letter-spacing: 2px;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
    text-decoration: none;
}

#edit:hover{
    background: blue;
    color: white;
    transition: 0.5s ease-in-out;
}

#delete{
    background: transparent;
    border: 1px solid red;
    color: red;
    font-size: 20px;
    width: 100px;
    padding: 5px 15px;
    letter-spacing: 2px;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
    text-decoration: none;
}

#delete:hover{
    background: red;
    color: white;
    transition: 0.5s ease-in-out;
}

#product-form{
    width: 100%;
}

#form-part{
    margin-top: 20px;
}
#product-form label{
    font-size: 20px;
}
#product-form input{
    width: 100%;
    padding: 10px;
}

#product-form textarea{
    width: 100%;
    height: 60px;
    padding: 10px;
}

#product-form button{
    text-transform:capitalize;
    border: none;
    font-size: 17px;
    margin-top: 20px;
    padding: 10px 15px;
    background: rgb(75, 75, 231);
    color: white;
    border-radius: 15px;
}

#error-msg{
    width: 100%;
    height: auto;
    background: rgba(225, 0, 0, 0.2);
    color: red;
    padding: 10px;
}

#error-msg h3{
    padding: 0%;
    margin: 0px;
    margin-bottom: 5px;
}

#table-img{
    width: 50px;
}

.go-back{
    text-decoration: none;
    background: white;
    border: 1px solid gray;
    padding: 10px 15px;
    color: gray;
    font-size: 20px;
    transition: 0.5s ease-in-out;
}

.go-back:hover{
    background: gray;
    border: none;
    color: white;
    transition: 0.5s ease-in-out;
}

.update-img{
    width: 120px;
}

#search-sec{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
    
}

#search-sec input{
    width: 90%;
    padding: 10px 20px;
    font-size: 17px;
    margin-right: 0%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 0.5px solid black;
    border-right: none;
}
#search-sec button{
    width: 10%;
    margin-left: 0%;
    font-size: 17px;
    padding: 10px 0px ;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: 0.5px solid black;
    border-left: 0.5px solid black;
}